*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0, 0.1);
    border-radius: 5px;
}

h1{
    text-align: center;
}

.container-options{
    width: 80%;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

.option{
    width: 40%;
    max-width: 320px;
    min-width: 250px;
    min-height: 120px;
    padding: 16px;
    background-color: blanchedalmond;
    border-radius: 8px;
    text-align: center;
}

.option h3{
    margin-bottom: 23px;
}

.button{
    padding: 10px 15px;
    background: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 16px;

}

.button:hover{
    background: #3cb0fd;
}

@media (320px <= width <= 768px){
    .container-options{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
}